<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supersoft.internusa">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.supersoft.internusa.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.supersoft.internusa.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key"/>


        <activity
            android:name=".splash.SplashMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.payment.TransactionActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.payment.TambahSaldoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.sidebar.UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.sidebar.MainTabUsahaProfesi"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".view.CodehtmlContentActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.About"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".view.MapFragmentActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.sidebar.OptionActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.profil.AddProfesiActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.profil.AddUsahaActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.chat.HistoryPembayaranActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".helper.fcm.PromocodeImageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.info.DetailprofilrekanActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.sidebar.Historyloginfo"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.chat.ChatTopicActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.chat.ChatDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask" />

        <activity android:name=".ui.info.KomentarActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".ui.info.LikeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".helper.bluetooth.DeviceList" />
        <activity
            android:name=".helper.imagePicker.AlbumSelectActivity"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".helper.imagePicker.ImageSelectActivity"
            android:hardwareAccelerated="true" />

        <activity
            android:name=".helper.cropper.CropImageActivity"
            android:screenOrientation="portrait" />

        <!-- ini untuk easyGCM -->
        <!-- [START firebase_service] -->
        <service
            android:name=".helper.fcm.FCMListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->


        <service android:name=".helper.services.AuthenticatorService" android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/auth"/>
        </service>

        <!-- [START firebase_iid_service] -->
        <service
            android:name=".helper.fcm.FCMIdListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->

        <service android:name=".helper.fcm.SaveFCMIdService" android:exported="false"/>
        <service android:name=".helper.uploadservice.UploadService" android:enabled="true" android:exported="true" />
        <receiver android:name=".helper.uploadservice.ReceiverUpload" android:exported="false">
            <intent-filter>
                <action android:name="net.gotev.uploadservice.broadcast.status" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".helper.services.AppStartReceiver"
            >
            <intent-filter>
                <action android:name="com.supersoft.internusa.StartApp" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <service android:name=".helper.services.ConnectionService" android:description="@string/app_name" android:enabled="true" android:label="Notification" />
        <service android:name=".helper.services.NotificationsService" android:enabled="true"/>
        <service android:name=".helper.services.ProfilupdateService" android:enabled="true"/>
        <service android:name=".helper.services.TimelineService" android:enabled="true"/>

        <receiver android:name=".helper.services.RestartServiceReceiver">
            <intent-filter>
                <action android:name="com.supersoft.internusa.StartForeground" />
                <action android:name="com.supersoft.internusa.StopForeground" />
                <action android:name="com.supersoft.internusa.StartApp" />
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.media.RINGER_MODE_CHANGED" />

                <action android:name="com.supersoft.internusa.rooster.startLogin" />
                <action android:name="com.supersoft.internusa.rooster.uiauthenticated" />
                <action android:name="com.supersoft.internusa.rooster.sendmessage" />
                <action android:name="com.supersoft.internusa.rooster.newmessage" />
                <action android:name="com.supersoft.internusa.rooster.sendmessage.chatrooms" />
            </intent-filter>
        </receiver>

        <!-- untuk blutut service-->
    </application>

</manifest>